<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <!--<add name="SNGUYEN-390-AWConnectionString" connectionString="Data Source=SNGUYEN-390\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SNGUYEN-390-AWDW2008R2ConnectionString" connectionString="Data Source=SNGUYEN-390\SQLEXPRESS;Initial Catalog=AdventureWorksDW2008R2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SN-XPS15-AWConnectionString" connectionString="Data Source=SN-XPS15\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SN-XPS15-AWDW2008R2ConnectionString" connectionString="Data Source=SN-XPS15\SQLEXPRESS;Initial Catalog=AdventureWorksDW2008R2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SONNY-XPS720-AWConnectionString" connectionString="Data Source=SONNY-XPS720;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SONNY-XPS720-AWDW2008R2ConnectionString" connectionString="Data Source=SONNY-XPS720;Initial Catalog=AdventureWorksDW2008R2;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="LocalGemFireXD" connectionString="server=localhost:1541" providerName="Pivotal.Data.GemFireXD"/>
    <add name="GoofGemFireXD" connectionString="server=10.118.32.118:1551" providerName="Pivotal.Data.GemFireXD"/>
    <add name="SMAHMUD-T3500W7-AWConnectionString" connectionString="Data Source=.\SQL08R2;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <clear/>
  </appSettings>
</configuration>