<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gfxdServerConfig" type="AdoNetTest.BIN.Configuration.GFXDServerConfig, AdoNetTest.BIN" allowDefinition="Everywhere" allowLocation="true"/>
    <section name="gfxdLocatorConfig" type="AdoNetTest.BIN.Configuration.GFXDLocatorConfig, AdoNetTest.BIN" allowDefinition="Everywhere" allowLocation="true"/>
    <section name="gfxdServerGroupConfig" type="AdoNetTest.BIN.Configuration.GFXDServerGroupConfig, AdoNetTest.BIN" allowDefinition="Everywhere" allowLocation="true"/>
    <section name="gfxdClientConfig" type="AdoNetTest.BIN.Configuration.GFXDClientConfig, AdoNetTest.BIN" allowDefinition="Everywhere" allowLocation="true"/>
    <section name="gfxdSchema" type="AdoNetTest.BIN.Configuration.GFXDSchema, AdoNetTest.BIN" allowDefinition="Everywhere" allowLocation="true"/>
    <section name="gfxdDbDefaultConfig" type="AdoNetTest.BIN.Configuration.GFXDDbDefaultConfig, AdoNetTest.BIN" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>
  <gfxdServerConfig>
    <settings>
      <add key="startServer" value="true"/>
      <add key="numServers" value="5"/>
      <add key="installPath" value=""/>
      <add key="scriptFile" value="bin\gfxd.bat"/>
      <add key="defaultServerDir" value="gfxdserver"/>
      <add key="defaultClientBindAddress" value="localhost"/>
      <add key="defaultClientPort" value="1531"/>
      <add key="mcastPort" value="19999"/>
      <add key="drdaDebug" value="false"/>
      <add key="logLevel" value="none"/>
      <add key="useLocator" value="true"/>
    </settings>
  </gfxdServerConfig>
  <gfxdLocatorConfig>
    <settings>
      <add key="peerDiscoveryAddress" value="localhost"/>
      <add key="peerDiscoveryPort" value="18888"/>
      <add key="clientBindAddress" value="localhost"/>
      <add key="clientPort" value="1527"/>
      <add key="locatorDir" value="gfxdlocator"/>
    </settings>
  </gfxdLocatorConfig>
  <gfxdServerGroupConfig>
    <settings>
      <add key="defaultGroup" value="TEST"/>
      <add key="salesGroup" value="SALES"/>
      <add key="serviceGroup" value="SERVICE"/>
      <add key="supportGroup" value="SUPPORT"/>
      <add key="generalGroup" value="GENERAL"/>
    </settings>
  </gfxdServerGroupConfig>
  <gfxdClientConfig>
    <settings>
      <clear/>
      <add key="gfxdHost" value="localhost"/>
      <add key="gfxdPort" value="1531"/>
      <add key="logDir" value=""/>
      <add key="userName" value=""/>
      <add key="password" value=""/>
    </settings>
  </gfxdClientConfig>
  <gfxdSchema>
    <settings>
      <add key="default" value="APP"/>
      <add key="nopartition" value="NOPARTITION"/>
      <add key="partition" value="PARTITION"/>
      <add key="replicate" value="REPLICATE"/>
    </settings>
  </gfxdSchema>
  <gfxdDbDefaultConfig>
    <settings>
      <add key="addressPKeySeed" value="100000000"/>
      <add key="supplierPKeySeed" value="100000000"/>
      <add key="categoryPKSeed" value="100000000"/>
      <add key="productPKSeed" value="100000000"/>
      <add key="customerPKSeed" value="100000000"/>
      <add key="orderPKSeed" value="100000000"/>
      <add key="numSuppliers" value="5"/>
      <add key="numCategoriesPerSupplier" value="5"/>
      <add key="numProductsPerCategory" value="10"/>
      <add key="numCustomers" value="5"/>
      <add key="numOrdersPerCustomer" value="5"/>
      <add key="numOrderDetailsPerOrder" value="2"/>
    </settings>
  </gfxdDbDefaultConfig>
  <connectionStrings>
    <!--add name="gfxdConnString" connectionString="server=localhost:1527"/-->
  </connectionStrings>
  <appSettings>
    <add key="dbProvider" value="Pivotal.Data.GemFireXD"/>
    <add key="batchSize" value="10"/>
  </appSettings>
</configuration>