<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ado_net_gemfirexd_client.Properties.Settings.AdventureWorksConnectionString"
      connectionString="server=10.118.32.118:1551" providerName="Pivotal.Data.GemFireXD" />
    <add name="ado_net_sqlsvr_client.Properties.Settings.AdventureWorksConnectionString"
      connectionString="server=10.118.32.118:1551" providerName="Pivotal.Data.GemFireXD" />
  </connectionStrings>
</configuration>