[mysqld]
ndbcluster

#basedir=/usr
#datadir=/var/lib/mysql-cluster
#pid-file=mysqld.pid
#socket=/var/lib/mysql-cluster/mysql.sock
#port=3306
ndb-cluster-connection-pool=4
ndb-connectstring="hs21a.dc.gemstone.com:1186"
ndb-force-send=1
ndb-use-exact-count=0
ndb-index-stat-enable=0
ndb-extra-logging=1
ndb-autoincrement-prefetch-sz=256
default-storage-engine=ndbcluster
#skip-bdb
skip-innodb
engine-condition-pushdown=1
skip-grant-tables
#log-error=/var/log/mysql.err

skip-external-locking

key_buffer = 512M
max_allowed_packet = 16M
table_open_cache = 2048
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 16M
thread_cache_size = 16
query_cache_size= 64M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 16
transaction_isolation = READ-COMMITTED 
binlog_cache_size = 1M 

[mysql_cluster]
ndb-connectstring="hs21a.dc.gemstone.com:1186"
