<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdoNetTest.WIN.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=SN-XPS15\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AdoNetTest.WIN.Properties.Settings.AdventureWorksDW2008R2ConnectionString"
            connectionString="Data Source=SN-XPS15\SQLEXPRESS;Initial Catalog=AdventureWorksDW2008R2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AdoNetTest.WIN.Properties.Settings.AdventureWorksConnectionString1"
            connectionString="Data Source=SNGUYEN-390\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AdoNetTest.WIN.Properties.Settings.AdventureWorksDW2008R2ConnectionString1"
            connectionString="Data Source=SNGUYEN-390\SQLEXPRESS;Initial Catalog=AdventureWorksDW2008R2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AdoNetTest.WIN.Properties.Settings.AdventureWorksConnectionString2"
            connectionString="Data Source=SONNY-XPS720;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AdoNetTest.WIN.Properties.Settings.AdventureWorksDW2008R2ConnectionString2"
            connectionString="Data Source=SONNY-XPS720;Initial Catalog=AdventureWorksDW2008R2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>